.fontsize0 {
  font-size: 0px;
}

#header {
  width: 100%;
  height: 180px;
}
.logo_box {
  position: relative;
  display: flex;
  width: 3000;
  cursor: pointer;
}
.menu_bar {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: row;
  top: 50px;
  margin: 0px 0px 0px 400px;
}
#wrap header nav ul li {
  font-size: 35px;
  margin: 0px 0px 0px 400x;
  padding: 30px;
  font-weight: 500;
  color: black;
}
#input_data {
  width: 1000px;
  font-weight: 800;
  display: flex;

  margin-left: 100px;
}

.fontsize15 {
  font-size: 15px;
}
.section1 {
  margin-left: 100px;
}
.input-group .mb-3 {
  right: 50px;
}
#second_page {
  display: none;
  width: 700px;
  margin: 35px 0px 0px 100px;
}
#wrap {
  margin-left: 200px;
}

#button_group {
  margin-top: 30px;
}

#curve_chart {
  display: flex;
  width: 600px;
}

#space2 {
  margin-right: 10px;
}
